*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(126, 126, 248); 
}
/**/

#titulo{
    text-align: center;
    font-size: 2em;
}

#subtitulo{
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 25px;
}

#container{
    height: 1000px;
    width: 620px;
    margin: 25px auto;
    padding: 15px;
    background-color: #fff;
    box-shadow: 5px 3px 3px rgba(20, 20, 20, 0.616);
    border-radius: 5px;
}

#botao{
    position: relative;
    bottom: 60px;
    right: 5px;
    text-align: center;
}

/**/

fieldset{
    width: 420px;
    margin: 15px 92px;
    padding: 10px;
    background: linear-gradient(to top, rgb(92, 92, 226), rgb(220, 220, 231));
    position: relative;
    bottom: 60px;
}

legend{
    font-weight: bold;
}

label{
    display: block;
}

input{
    background-color: #f2f2f2;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
}

#botao input{
    background-color: rgb(197, 196, 196);
    font-weight: bold;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 1px 1px 1px black;
    padding: 6px;
}
#botao input:hover{
    background-color: rgb(197, 196, 196);
    color: rgb(36, 33, 33);
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 1px 2px 1px black;
    padding: 6px;
   
    cursor: pointer;
}

input:hover, textarea:hover{
    border: 1px solid rgb(65, 65, 255);
}

input:focus, textarea:focus{
    border: 2px solid rgb(65, 65, 255);
    outline: 0;
}

textarea{
    width: 280px;
    height: 180px;
}

/**/

.largura{
    width: 260px;
}

.campo{
    margin: 5px 20px;
}

.posicao-site-email{
    position: relative;
    left: 315px;
    top: -103px;
}

.posicao-radio{
    position: relative;
    right: -20px;
    top: -48px;
}

.posicao-cpf{
    position: relative;
    left: 335px;
    top: -90px;
}

.inline{
    display: inline;
    padding: 3px;
}



